<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="130">Name</th>
                <th>Day</th>
                <th>Location</th>
                <th>Site Q</th>
                <th>Type</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cal in vm.list | filter: { Region: vm.selectedRegion } | filter: { Type: vm.selectedType } | orderBy:['DayOfWeek','Name']">
                <td><a href='/category/{{cal.Slug}}'>{{cal.Name}}</a><br />{{cal.Time}}</td>
                <td>{{cal.Meets}}<br /><a href="{{cal.SignupLink}}" class="btn btn-xs btn-primary" ng-show="cal.SignupLink">sign up</a></td>
                <td><a href="https://www.google.com/maps?q={{cal.Location}}"><span class="glyphicon glyphicon-map-marker"></span> {{cal.DisplayLocation}}</a><br /><span ng-show="cal.LocationHint">({{cal.LocationHint}})</span></td>
                <td>{{cal.SiteQ}}</td>
                <td>{{cal.Type}}<br/><small>{{ cal.Notes }}</small></td>
                <td>{{cal.Region}}</td>
            </tr>
            
        </tbody>
    </table>
</div>